
<h1 id="daylight-title">Daylight</h1>

<div id="daylight-app">
  <div class="row">
    <div class="box col-md-3 col-md-offset-1" onclick="daylight('morning')">Morning</div>
    <div class="box col-md-3 col-md-offset-1" onclick="daylight('afternoon')">Afternoon</div>
    <div class="box col-md-3 col-md-offset-1" onclick="daylight('evening')">Evening</div>

    <div id ="currentTime" class="box col-md-3 col-md-offset-1">Time of Day</div>

  </div>
</div>
